/* searchBar.css */
.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo-and-title {
  display: flex;
  align-items: center;
  margin-right: 20px; /* Ajoute un peu d'espace entre le titre et le champ de recherche */
}

.logo {
  height: auto;
  width: 100px;
  object-fit: contain;
  margin-right: 10px; /* Ajustez si nécessaire pour l'espace entre le logo et le titre */
}

.shop-title {
  font-size: 1em;
  color: #333;
  font-weight: bold;
}

.search-form {
  display: flex;
  justify-content: center;
  flex-grow: 2;
  margin-right: 20px; /* Espacement à droite du formulaire de recherche */
}

.search-input {
  font-size: 16px;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 100%;
  margin-right: 20px; /* Espacement à droite de l'entrée de recherche */
}

.login-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.login-button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

/* Si vous avez un bouton de recherche séparé, vous pouvez ajouter ceci */
.search-button {
  margin-left: 10px; /* Espacement à gauche du bouton de recherche */
  border-radius: 20px;
  background-color: orange;
}



  